html {
  height: 100%;
}

body {
  background: linear-gradient(
    180deg,
    rgba(6, 148, 251, 0.36) 20%,
    rgba(106, 169, 215, 0.2664) 90%
  );
}

.WeatherApp {
  color: rgba(5, 100, 185, 1);
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

h1 {
  font-size: 40px;
  font-weight: 800;
}

h2 {
  font-size: 20px;
  font-weight: 600;
}

.WeatherIcon img {
  max-width: 8em;
}

h3 {
  font-size: 30px;
  font-weight: 600;
}

h4 {
  font-size: 25px;
  font-weight: 600;
}

.DescriptionIcon {
  max-width: 5em;
  margin-bottom: -1.5em;
}

.DescriptionText {
  font-size: 15px;
  font-weight: 600;
  text-align: center;
  margin-top: -1.5em;
}

p {
  font-size: 25px;
  font-weight: 600;
}

.DescriptionContainer {
  display: flex;
  justify-content: center;
}

.DescriptionContainer > div {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
